.sidebar {
    height: 100%;
    background-color: #353535
}

.header {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #505050
}

.principal {
    padding: 2em;
    max-height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 5em;
}