$base-color: #1d4212;
$base-dark: rgba($base-color, 0.88);

.sidebar {
    height: 100%;
    background-color: $base-color;
}

.header {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: $base-dark;
}

.principal {
    padding: 2em;
    max-height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 5em;
}