<lib-tabela>
  <lib-tb-titulo> ID </lib-tb-titulo>
  <lib-tb-titulo> Nome </lib-tb-titulo>
  <lib-tb-titulo *ngIf="!simplificado"> Descrição </lib-tb-titulo>
  <lib-tb-titulo> Quantidade </lib-tb-titulo>
  <lib-tb-titulo> Cores </lib-tb-titulo>
  <lib-tb-titulo *ngIf="!simplificado"> Tipo de produto </lib-tb-titulo>
  <lib-tb-titulo *ngIf="selecionarBtn"> </lib-tb-titulo>

  <lib-tb-row *ngFor="let produto of produtos" [showButtons]="showButtons" (deletar)="deletar.emit(produto.idProduto)" [link]="'/estoque/edit/' + produto.idProduto">
    <lib-tb-col> {{ produto.idProduto }} </lib-tb-col>
    <lib-tb-col> {{ produto.nome }} </lib-tb-col>
    <lib-tb-col *ngIf="!simplificado"> {{ produto.descricao }} </lib-tb-col>
    <lib-tb-col>
      <div class="d-flex justify-content-between align-items-center">
        {{ produto.quantidadeTotal }}
        <button *ngIf="!simplificado" class="btn ml-1" (click)="visualizarTamanhos.emit(produto)"> <i class="far fa-eye"></i> </button>        
      </div>
    </lib-tb-col>
    <lib-tb-col> 
      <div class="grid color-grid" *ngFor="let cor of getCores(produto)">
        <span> {{ cor.nome }} </span> 
        <lib-color-box [cor]="cor.hex" [small]="true"></lib-color-box>
      </div>
    </lib-tb-col>
    <lib-tb-col *ngIf="!simplificado"> {{ produto.tipoProduto?.nome }} </lib-tb-col>
    <lib-tb-col *ngIf="selecionarBtn"> <button class="btn" (click)="selecionar.emit(produto)"> Selecionar </button> </lib-tb-col>
  </lib-tb-row>
</lib-tabela>