
<lib-page-content titulo="Lista de produtos" link="/estoque/add">
  <lib-filters [formGroup]="formFilters" (filtrar)="filtrar($event)">
    <lib-form-input label="ID Produto" formControlName="id" class="col"></lib-form-input>
    <lib-form-input label="Nome" class="col" formControlName="nome"></lib-form-input>
    <lib-form-select class="col" label="Tipo de produto" formControlName="tipoProduto" [data]="tiposProduto | async" 
        bindValue="idTipoProduto" bindLabel="nome"></lib-form-select>
  </lib-filters>

  <lib-tabela>
    <lib-tb-titulo> ID </lib-tb-titulo>
    <lib-tb-titulo> Nome </lib-tb-titulo>
    <lib-tb-titulo> Descrição </lib-tb-titulo>
    <lib-tb-titulo> Quantidade </lib-tb-titulo>
    <lib-tb-titulo> Cores </lib-tb-titulo>
    <lib-tb-titulo> Tipo de produto </lib-tb-titulo>

    <lib-tb-row *ngFor="let produto of models | async" (deletar)="deletar(produto.idProduto)" [link]="'/estoque/edit/' + produto.idProduto">
      <lib-tb-col> {{ produto.idProduto }} </lib-tb-col>
      <lib-tb-col> {{ produto.nome }} </lib-tb-col>
      <lib-tb-col> {{ produto.descricao }} </lib-tb-col>
      <lib-tb-col> {{ produto.quantidadeTotal }} </lib-tb-col>
      <lib-tb-col> 
        <div class="grid color-grid" *ngFor="let cor of getCores(produto)">
          <span> {{ cor.nome }} </span> 
          <lib-color-box [cor]="cor.hex" [small]="true"></lib-color-box>
        </div>
      </lib-tb-col>
      <lib-tb-col> {{ produto.tipoProduto?.nome }} </lib-tb-col>
    </lib-tb-row>
  </lib-tabela>
</lib-page-content>