
<lib-page-content titulo="Lista de produtos" link="/estoque/add">
  <lib-tabela>
    <lib-tb-titulo> ID </lib-tb-titulo>
    <lib-tb-titulo> Nome </lib-tb-titulo>
    <lib-tb-titulo> Descrição </lib-tb-titulo>
    <lib-tb-titulo> Quantidade </lib-tb-titulo>
    <lib-tb-titulo> Tipo de produto </lib-tb-titulo>

    <lib-tb-row *ngFor="let produto of models | async" (deletar)="deletar(produto.idProduto)" [link]="'/estoque/edit/' + produto.idProduto">
      <lib-tb-col> {{ produto.idProduto }} </lib-tb-col>
      <lib-tb-col> {{ produto.nome }} </lib-tb-col>
      <lib-tb-col> {{ produto.descricao }} </lib-tb-col>
      <lib-tb-col> {{ produto.quantidadeTotal }} </lib-tb-col>
      <lib-tb-col> {{ produto.tipoProduto?.nome }} </lib-tb-col>
    </lib-tb-row>
  </lib-tabela>
</lib-page-content>