:host ::ng-deep lib-form-input.color {
    * {
        border-color: inherit !important;
        background-color: inherit !important;
    }
}

.show-color {
    position: absolute;
    right: 16px;
    top: 11px;
}