<div class="container-fluid">
  <div class="text-center">
    <img src="assets/img/logo.png" alt="Logomarca" class="logomarca">
  </div>

  <hr/>

  <div class="menu-list">
    <ul>
      <ng-container *ngFor="let menu of menus" [ngTemplateOutlet]="itemMenu" [ngTemplateOutletContext]="{$implicit: menu}"></ng-container>
    </ul>
  </div>
</div>

<ng-template #itemMenu let-menu>
  <li class="mb-3"> 
    <a [routerLink]="menu.link" class="d-flex align-items-center" *ngIf="menu.link">
      <i [class]="menu.icon"></i> 
      <span> {{ menu.nome }} </span>
    </a>
    <button class="btn p-0 d-flex align-items-center" *ngIf="!menu.link" (click)="toggleSub(menu)">
      <i [class]="menu.icon"></i> 
      <span> {{ menu.nome }} </span>
      <i class="fas fa-sort-up ml-2" [ngClass]="{'hide': !menu.showSub, 'show': menu.showSub}" *ngIf="menu.submenus"></i>
    </button>
  </li>

  <div class="submenu-wrapper ml-3" *ngIf="menu.submenus" [ngClass]="{'hide': !menu.showSub, 'show': menu.showSub}">
    <ng-container *ngFor="let sub of menu.submenus" [ngTemplateOutlet]="itemMenu" [ngTemplateOutletContext]="{$implicit: sub}"></ng-container>
  </div>
</ng-template>
