.container-fluid {
    padding-top: 2em;
    padding-bottom: 2em;
}

.logomarca {
    width: 80%;
}

hr {
    border-color: #4c4c4c;
}

.menu-list ul {
    padding: 0;
    list-style: none;
    color: #fff;
    font-size: 1.1em;

    i {
        margin-right: 0.5em;
    }
}