/* You can add global styles to this file, and also import other style files */
@import './styles/colors.scss';

html, body {
    height: 100%;
    overflow: hidden;
    background-color: #f9f9f9;
}

a[href] {
    color: inherit;
}

a[href]:hover {
    color: inherit;
    text-decoration: none;
    opacity: 0.9;
}

.grid {
    display: grid;
}

lib-tabela thead {
    th {
        background: $base-color !important;
    }
}