
<lib-page-content titulo="Lista de produtos" link="/estoque/add">
  <lib-tabela>
    <lib-tb-titulo> Nome </lib-tb-titulo>
    <lib-tb-titulo> Sobrenome </lib-tb-titulo>
    <lib-tb-titulo> Aeeee </lib-tb-titulo>
    <lib-tb-titulo> Aeeee </lib-tb-titulo>

    <lib-tb-row>
      <lib-tb-col> testando </lib-tb-col>
      <lib-tb-col> testando2 </lib-tb-col>
      <lib-tb-col> testando3 </lib-tb-col>
      <lib-tb-col> testando4 </lib-tb-col>
    </lib-tb-row>
    <lib-tb-row>
      <lib-tb-col> testando </lib-tb-col>
      <lib-tb-col> testando2 </lib-tb-col>
      <lib-tb-col> testando3 </lib-tb-col>
      <lib-tb-col> testando4 </lib-tb-col>
    </lib-tb-row>
    <lib-tb-row>
      <lib-tb-col> testando </lib-tb-col>
      <lib-tb-col> testando2 </lib-tb-col>
      <lib-tb-col> testando3 </lib-tb-col>
      <lib-tb-col> testando4 </lib-tb-col>
    </lib-tb-row>
  </lib-tabela>
</lib-page-content>