<lib-page-content titulo="Adicionar tipo de produto">
  <lib-form [formGroup]="form" (salvar)="submit()">
    <lib-form-input class="col-6" label="Nome" formControlName="nome"></lib-form-input>
    <lib-form-input class="col-6" label="Descrição" formControlName="descricao"></lib-form-input>
    <lib-form-select [data]="(tamanhos | async)?.data" [multi]="true" class="col-6" label="Tamanhos" 
    bindLabel="descricao"
    bindValue="idTamanho"
    formControlName="tamanhos"></lib-form-select>
  </lib-form>
</lib-page-content>