:host.multiple {
    lib-label {
        top: -15px;
    }
}

:host.ng-invalid.ng-dirty ::ng-deep {
    lib-select select {
        border-color: red
    }
    lib-label label {
        color: red;
    }
}
:host.ng-valid.ng-dirty ::ng-deep {
    lib-select select {
        border-color: green
    }
    lib-label label {
        color: green;
    }
}

lib-label {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    transition: all 0.2s ease;
}

lib-label.float {
    bottom: 22px;
    color: #888888;
}

:host {
    display: block;
}